@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SGM - Sistema de Gestión de Mantenimiento</h1>
    <p class="lead">
        Plataforma que permite planificar los mantenimientos preventivos a los diferentes
        equipos e instalaciones permitiendo extender su vida útil, minimizar los tiempos de
        indisponibilidad imprevistos y además poder recolectar los datos básicos de las tareas
        desarrolladas en cada guardia, para su posterior análisis, búsqueda y actualización de
        estadísticas.
        Posibilidad de reunir en un único repositorio las novedades
        junto con el personal que realizó la tarea, los tiempos de duración de las
        intervenciones, los materiales utilizados y fundamentalmente es posible realizar un
        relevamiento de los equipos actualmente instalados, sus características, tiempo de
        funcionamiento, vida útil remanente, tiempo medio entre fallas (MTBF) y otros
        parámetros útiles para la gestión del mantenimiento.
        Trazabilidad de los mantenimientos realizados en cada
        equipo o instalación, lo que permite detectar cuáles requieren un alto grado de
        atención y cuáles son los repuestos y reparaciones más frecuentes, lo que ayudar a optimizar los recursos de mantenimiento.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Ver más &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Guardias</h2>
        <p>
            Administra todas las guardias desde aqui.
        </p>
        <p><a class="btn btn-default" href="~/Guardias">Ir a Guardias &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tareas</h2>
        <p>Visualizá todas las Tareas según su prioridad</p>
        <p><a class="btn btn-default" href="~/Tarea">Ir a Tareas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Novedades</h2>
        <p>Con este módulo podrás cargar todas las novedades de las guardias.</p>
        <p><a class="btn btn-default" href="~/Home">Ir a Novedades &raquo;</a></p>
    </div>
</div>